@model HistorySiteIdentity.Models.Division
@{ Layout = @"~/Views/Shared/_Layout2.cshtml";}

@{
    ViewData["Title"] = "Описание";
}

<h1>Описание</h1>

<div>
    <h4>Дивизия</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd id="Name" class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalStrenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalStrenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordX)
        </dt>
        <dd id="geomapX" class="col-sm-10">
            @Html.DisplayFor(model => model.CoordX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordY)
        </dt>
        <dd id="geomapY" class="col-sm-10">
            @Html.DisplayFor(model => model.CoordY)
        </dd>
        <dd id="geomapXY" class="col-sm-10">
            @Html.DisplayFor(model => model.CoordinatesXY)
        </dd>
        <dd id="Adress1" class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
    <ul>
        @foreach (Brigade d in Model.Brigades)
        {
            <li>
                @d.Name
                <a asp-controller="Brigades" asp-action="Edit" asp-route-id="@d.BrigadeId" target="_blank">Редактирование</a> |
                <a asp-controller="Brigades" asp-action="Details" asp-route-id="@d.BrigadeId" target="_blank">Описание</a> |
                <a asp-controller="Brigades" asp-action="Delete" asp-route-id="@d.BrigadeId" target="_blank">Удаление</a>
            </li>
        }
    </ul>
    @if (Model.Image != null)
    {
        <img style='width:180px; height:220px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DivisionId">Редактирование</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
